.header {
  box-shadow: var(--mantine-shadow-sm);
  z-index: 1;
  position: relative;
  background: #fff;
}

.headerLink {
  color: rgb(var(--foreground-rgb));
  text-decoration: none;
}

.headerLink:hover {
  color: rgb(var(--foreground-rgb));
}

.headerTitle {
  background: linear-gradient(90deg, var(--mantine-color-blue-5), var(--mantine-color-blue-9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  box-shadow: inset var(--mantine-shadow-sm);
  z-index: 1;
  position: relative;
  background: #fff;
}

.footer a:hover {
  opacity: 0.7;
}
