.background {
  width: 100vw !important;
  left: 50% !important;
  transform: translateX(-50%);
  z-index: -1;
  object-fit: cover;
  filter: brightness(0.4) blur(1px);
}

.header {
  position: relative;
  width: 100%;
}

.button span {
  white-space: wrap;
}