.input input {
    --input-bd: var(--input-bd-focus);
}

.inputWithFilter input {
    --input-bd: var(--input-bd-focus);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.filterButton {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}